* {
    /*border: 1px red solid;*/
    box-sizing: border-box;
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 200;
    font-size: 25px;
    color: rgb(190, 190, 190);
}

body {
    margin-top: 1rem;
    background-color: rgb(0, 0, 0);
}



.container {
    display: flex;
    justify-content: space-evenly;
}



.left {
    display: block;
    margin: 1rem;
}

h3#levels-heading {
    margin: 1rem;
}

#levels {
    color: rgb(238, 255, 163);
}

h3#lines-heading {
    margin: 1rem;
}

#lines {
    color: rgb(238, 255, 163);
}

h3#score-heading {
    margin: 1rem;
}

#score {
    color: rgb(238, 255, 163);
}

.help {
}

.help h3 {
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

.help ul {
    padding-left: 0;
}

.help li {
    list-style: none;

}

.next {
    color: rgb(190, 190, 190);
    text-align: center;
    margin-top: 2rem;
}

.next h3 {
    padding: 1rem;
}

.mini-grid {
    display: flex;
    flex-wrap: wrap;
    width: 102px;
    height: 102px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;

}

.mini-grid div {
    width: 25px;
    height: 26px;
}


.center h3 {
    color: red;
    text-align: center;
    object-fit: fill;
    margin-top: 1rem;
}

.grid {
    width: 307px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    border: 21px dotted blue;
    padding: 0.3rem;
}

.grid div {
    width: 25px;
    height: 25px;
}

.tetromino {
    background-color: rgb(0, 0, 0);
}

#start-button {
    font-size: 1rem;
    color: red;
    background-color: black;
    border: none;
    margin-top: 1rem;
}


.right {

}


h3#stats-heading {
    margin-right: 6rem;
    float: right;
}


.stats-grid {
    width: 264px;
    height: 364px;
    display: flex;
    flex-wrap: wrap;
    /*border: 7px dotted red;*/
}

.stats-grid div {
    width: 25px;
    height: 26px;
}

div.l1 {
    background-color: #ff00ff;
}

div.i {
    background-color: #ff0000;
}

div.t {
    background-color: #ffa500;
}

div.z1 {
    background-color: #00ff00;
}

div.z2 {
    background-color: #00ffff;
}

div.o {
    background-color: #0000ff;
}

div.l2 {
    background-color: #ffffff;
}